## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects wither one and zero (1 or 0), False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an arithmetic operator),
they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value.

They are written as False and True, respectively.

In [1]:
False

False

In [2]:
print(True,False)

True False

In [3]:
type(True)   # type gives us the information of the function type

bool

In [4]:
type(False)

bool

In [5]:
my_str='Rohan1999'    # initilizing the values to the variable name.

In [6]:
my_str.istitle()    # checks if it is in the title format like first letter as uppercase and other letters as lowercase

True

In [8]:
print(my_str.isalnum()) #check if all character are numbers
print(my_str.isalpha()) #check if all character in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('9')) #test if string endswith a d or 1 2 etc.
print(my_str.startswith('R')) #test if string startswith R if yes then True or else it is False

True
False
False
True
False
False
False
True
True

### Boolean and Logical Operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [19]:
str_example='Hello World'
my_str='Rohan'

In [20]:
my_str.isalpha() or str_example.isalnum()

True

In [21]:
str_example.isalnum()

False

In [22]:
my_str.isalpha()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [15]:
type([]) # list uses [] brackets

list

In [18]:
lst_example=[]

In [19]:
type(lst_example)

list

In [27]:
lst=list() # here lst is the variable name  it is now empty

In [28]:
type(lst)

list

In [29]:
len(lst)

0

In [30]:
lst=['Mathematics', 'chemistry', 90, 100, 200, 122]

In [31]:
len(lst) # This gives the length of the list or content in the list

6

In [32]:
type(lst)

list

### Append

In [33]:
#.append is used to add elements in the list 
lst.append("Rohan")

In [34]:
lst.append(["Sammy","Mack"]) # this list will be appended along with the brackets creating onother list within list

In [35]:
lst

['Mathematics', 'chemistry', 90, 100, 200, 122, 'Rohan', ['Sammy', 'Mack']]

In [36]:
##Indexing in List
lst[6]    # it displays only the variable in that position

'Rohan'

In [37]:
lst[1:6]   # from 1 to 6 variable only , list starts from 0 to n-1

['chemistry', 90, 100, 200, 122]

### Insert

In [38]:
## insert in a specific order

lst.insert(2,"Rajendra")

In [39]:
lst

['Mathematics',
 'chemistry',
 'Rajendra',
 90,
 100,
 200,
 122,
 'Rohan',
 ['Sammy', 'Mack']]

In [40]:
lst.append(["Hello","World"]) # append adds the values from the last

In [41]:
lst

['Mathematics',
 'chemistry',
 'Rajendra',
 90,
 100,
 200,
 122,
 'Rohan',
 ['Sammy', 'Mack'],
 ['Hello', 'World']]

In [42]:
lst=[1,2,3]

In [43]:
lst.append([4,5])

In [44]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [45]:
lst=[1,2,3,4,5,6]

In [46]:
lst.extend([8,9])  # it is similar to the append but this extends the list or continues without creating another list

In [47]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [56]:
lst=[1,2,3,4,5]

In [52]:
sum(lst)

15

In [53]:
lst*5 # it prints( or repeats) the list 5 times it does not multiply the values

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [57]:
lst.pop()  # this keeps on poping or removing values from the last one by one at a time

5

In [58]:
lst

[1, 2, 3, 4]

In [39]:
lst.pop(0) # indexing pop will only pop out that value rather than poping from the last

1

In [59]:
lst

[1, 2, 3, 4]

### count():Calculates total occurrence of given element of List

In [61]:
lst=[1,1,2,3,4,5]
lst.count(1)  # count gives the count of the values that is given eg 1 is repeated 2 times.

2

In [62]:
#length:Calculates total length of List
len(lst)

6

In [63]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [64]:
##Min and Max
min(lst)

1

In [65]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [66]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [67]:
set_var={1,2,3,4,3}

In [68]:
set_var

{1, 2, 3, 4}

In [69]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'IronMan'}

set

In [70]:
## Inbuilt function in sets

set_var.add("Human")

In [72]:
print(set_var)

{'Hitman', 'Human', 'Avengers', 'IronMan'}

In [80]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Human'}

In [81]:
set2.intersection_update(set1)

In [82]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [87]:
##Difference 
set2.difference(set1) # it is set2-set1

set()

In [88]:
set1.difference(set2) # it is set1-set2

{'Avengers', 'Hitman', 'IronMan'}

In [89]:
set2

set()

In [90]:
## Difference update

set2.difference_update(set1)

In [91]:
print(set2)

set()

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [92]:
dic={}

In [93]:
type(dic)

dict

In [94]:
type(dict())

dict

In [95]:
set_ex={1,2,3,4,5} # set can also be enclosed by { } brackets and even dictionary but dictionaty has Key - Value pair

In [99]:
type(set_ex)

set

In [100]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [101]:
type(my_dict)

dict

In [102]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [103]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [68]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [69]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [74]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [75]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [76]:
my_dict['Car1']='MAruti'

In [77]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [76]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [77]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [104]:
## Accessing the items in the dictionary

print(car_type['car1'])

NameError: name 'car_type' is not defined

In [81]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [101]:
## create an empty Tuples

my_tuple=tuple()

In [102]:
type(my_tuple)

tuple

In [103]:
my_tuple=()

In [104]:
type(my_tuple)

tuple

In [106]:
my_tuple=("Rohan","Rajendra","Kevin")

In [81]:
my_tuple=('Hello','World')

In [82]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [107]:
type(my_tuple)

tuple

In [107]:
## Inbuilt function
my_tuple.count('Rohan')

1

In [108]:
my_tuple.index('Rajendra')

1